<html>

<head>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b20b6c512.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/calculator.js" defer></script>
</head>

<body>
    <div class="sidebar">
        <h3 class="font-pacifico">N</h3>
        <ul class="nav-list">
            <li class="nav-item"><a href="/"><i class="fas fa-home"></i></a> </li>
            <li class="nav-item"><a href="notes.html"><i class="fas fa-sticky-note"></i></a></li>
            <li class="nav-item"><a href="todo.html"><i class="fas fa-clipboard-list"></i></a></li>
            <li class="nav-item"><a href="/calculator"><i class="fas fa-calculator"></i></a></li>
            <li class="nav-item"><a href="clock.html"><i class="fas fa-clock"></i></a></li>
            <li class="nav-item"><a href="game.html"><i class="fas fa-gamepad"></i></a></li>
            <li class="nav-item"><a href="schedule.html"><i class="fas fa-calendar"></i></a></li>
            <li class="nav-item"><a href="budget.html"><i class="fas fa-money-bill"></i></a></li>
            <li class="nav-item"><a href="music.html"><i class="fas fa-music"></i></a></li>
            <li class="nav-item"><a href="cards.html"><i class="fas fa-brain"></i></a></li>
        </ul>

        <ul class="nav-list-bottom">
            <li class="nav-item"><a href=""><i class="fas fa-user"></i></a></li>
            <li class="nav-item"><a href=""><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>

    </div>
    <div class="content">
        <div class="page-name ">
            <h1>Calculator</h1>
        </div>
        <div class="content-text">
            <form method="post" action="#">
                <input type="text" placeholder="Calculate" name="input" id="calculator" class="calc-input-style">
            </form>
        </div>
        <table>
            <caption>History</caption>
            <tbody>
              <tr>
                <td data-label="Input: ">3 * 2 + 6 - 25</td>
              </tr>
              <tr>
                <td scope="row" data-label="Input: ">3 * 2 + 6 - 25</td>
              </tr>
              <tr>
                <td scope="row" data-label="Input: ">3 * 2 + 6 - 25</td>
              </tr>
              <tr>
                <td scope="row" data-label="Input: ">3 * 2 + 6 - 25</td>
              </tr>
            </tbody>
          </table>
    </div>

</body>

</html>