<html>

<head>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b20b6c512.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/localStorage.js"></script>
    <script type="text/javascript" src="js/modal.js" defer></script>
    <script type="text/javascript" src="js/calculator.js" defer></script>
</head>

<body>
    <div class="sidebar">
        <h3 class="font-pacifico">N</h3>
        <ul class="nav-list">
            <li class="nav-item"><a href="/"><i class="fas fa-home"></i></a> </li>
            <li class="nav-item"><a href="/notes"><i class="fas fa-sticky-note"></i></a></li>
            <li class="nav-item"><a href="/todo"><i class="fas fa-clipboard-list"></i></a></li>
            <li class="nav-item"><a href="/calculator"><i class="fas fa-calculator"></i></a></li>
            <li class="nav-item"><a href="/clock"><i class="fas fa-clock"></i></a></li>
            <li class="nav-item"><a href="/game"><i class="fas fa-gamepad"></i></a></li>
            <li class="nav-item"><a href="/timetable"><i class="fas fa-calendar"></i></a></li>
            <li class="nav-item"><a href="/budget"><i class="fas fa-money-bill"></i></a></li>
            <li class="nav-item"><a href="/audio"><i class="fas fa-music"></i></a></li>
            <li class="nav-item"><a href="/cardgame"><i class="fas fa-brain"></i></a></li>
        </ul>

        <ul class="nav-list-bottom">
            <li class="nav-item"><a href=""><i class="fas fa-user"></i></a></li>
            <li class="nav-item"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>

    </div>
    <div class="content">
        <div class="page-name ">
            <h1>Calculator</h1>
        </div>
        <h1 id="answer"></h1>
        <div class="content-text">
            <form method="post" action="#">
                <input type="text" placeholder="Calculate" name="input" id="calculator" class="calc-input-style">
            </form>
        </div>
        <h2>History</h2>
        <div class="history-table">
            <div class="pagination">
                <button id="previousPage" class="paginationBttn"><i class="fas fa-chevron-left"></i> Back</button>
                <div id="pageNum">
                </div>
                <button id="nextPage" class="paginationBttn">Next <i class="fas fa-chevron-right"></i></button>
            </div>
            <div class="wrapper">
                <table class="table-bordered">

                    <tbody>
                        <tr>
                            <td data-label="Input: ">No calculations yet...</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div id="modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div style="text-align:center;">
                <h1>Warning!</h1>
                <p>Do not paste contents into this calculator if you're not absolutely sure what it does.</p>
                <p>Malicious people may attempt to trick you into running malicious code that would compromise your
                    computer.</p>
            </div>
            <button type="button" class="button" id="ok">OK</button>
            <button type="button" class="button float-right button-red" id="today">Dont warn me today</button>
            <button type="button" class="button float-right button-red" id="never">Never warn me</button>
        </div>

    </div>
</body>

</html>