<html>

<head>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="/styles/cards.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b20b6c512.js" crossorigin="anonymous"></script>
    <script src="js/cards.js" defer type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="sidebar">
        <h3 class="font-pacifico">N</h3>
        <ul class="nav-list">
            <li class="nav-item"><a href="/"><i class="fas fa-home"></i></a> </li>
            <li class="nav-item"><a href="/notes"><i class="fas fa-sticky-note"></i></a></li>
            <li class="nav-item"><a href="/todo"><i class="fas fa-clipboard-list"></i></a></li>
            <li class="nav-item"><a href="/calculator"><i class="fas fa-calculator"></i></a></li>
            <li class="nav-item"><a href="/clock"><i class="fas fa-clock"></i></a></li>
            <li class="nav-item"><a href="/timetable"><i class="fas fa-calendar"></i></a></li>
            <li class="nav-item"><a href="/budget"><i class="fas fa-money-bill"></i></a></li>
            <li class="nav-item"><a href="/audio"><i class="fas fa-music"></i></a></li>
            <li class="nav-item"><a href="/cardgame"><i class="fas fa-brain"></i></a></li>
            <li class="nav-item"><a href="/admin"><i class="fas fa-user-cog"></i></a></li>
        </ul>

        <ul class="nav-list-bottom">
            <li class="nav-item"><a href="/profile"><i class="fas fa-user"></i></a></li>
            <li class="nav-item"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>

    </div>
    <div class="content">
        <div class="page-name ">
            <h1>Card Game</h1>
        </div>
        <div id="questions" style="display:none;">
            <h2 id="question"></h2>
            <label for="answer">Answer</label>
            <input type="text" class="form-control inputs" id="answer-input">
            <button type="button" class="btn answer-btn butonas" id="answer-btn">Answer</button>
        </div>
        <div id="groups"></div>
        <form method="post" id="form" action="/cards" style="margin-top: 100px;">
            <label for="group">Group</label><br/>
            <input type="text" class="form-control inputs" name="group"><br/>
            <label for="question">Question</label><br/>
            <input type="text" class="form-control inputs" name="question"><br/>
            <label for="answer">Answer</label><br/>
            <input type="text" class="form-control inputs" name="answer"><br/>
            <button type="submit" class="btn add-card-btn butonas">Add card</button>
        </form>
    </div>

</body>

</html>