<html>

<head>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/pomodoro.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b20b6c512.js" crossorigin="anonymous"></script>
    <script src="js/pomodoro.js" defer type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="sidebar">
        <h3 class="font-pacifico">N</h3>
        <ul class="nav-list">
            <li class="nav-item"><a href="/"><i class="fas fa-home"></i></a> </li>
            <li class="nav-item"><a href="/notes"><i class="fas fa-sticky-note"></i></a></li>
            <li class="nav-item"><a href="/todo"><i class="fas fa-clipboard-list"></i></a></li>
            <li class="nav-item"><a href="/calculator"><i class="fas fa-calculator"></i></a></li>
            <li class="nav-item"><a href="/clock"><i class="fas fa-clock"></i></a></li>
            <li class="nav-item"><a href="/timetable"><i class="fas fa-calendar"></i></a></li>
            <li class="nav-item"><a href="/budget"><i class="fas fa-money-bill"></i></a></li>
            <li class="nav-item"><a href="/audio"><i class="fas fa-music"></i></a></li>
            <li class="nav-item"><a href="/cardgame"><i class="fas fa-brain"></i></a></li>
        </ul>

        <ul class="nav-list-bottom">
            <li class="nav-item"><a href="/profile"><i class="fas fa-user"></i></a></li>
            <li class="nav-item"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>

    </div>
    <div class="content">

        <div class="page-name ">
            <h1>Pomodoro Timer</h1>

        </div>
        <div class="timer">
            <div class="button-group mode-buttons" id="js-mode-buttons">
                <button data-mode="pomodoro" class="button mode-button active" id="js-pomodoro">
                    Pomodoro
                </button>
                <button data-mode="shortBreak" class="button mode-button" id="js-short-break">
                    Short break
                </button>
                <button data-mode="longBreak" class="button mode-button" id="js-long-break">
                    Long break
                </button>
            </div>
            <div class="clock" id="js-clock">
                <span id="js-minutes">25</span>
                <span class="separator">:</span>
                <span id="js-seconds">00</span>
            </div>
            <button class="btn" data-action="start" id="js-btn">
                Start
            </button><br />
            <progress id="js-progress" value="0"></progress>
        </div>

    </div>

</body>
<script>
    fetch("/me").then(res => res.json()).then(data => {
        if (!data.is_admin) return;
        document.querySelector('.nav-list').innerHTML += `<li class="nav-item" id="admin-link"><a href="/admin"><i class="fas fa-user-cog"></i></a></li>`;
    })
</script>

</html>