<html>

<head>
    <link rel="stylesheet" href="styles/loginstyle.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b20b6c512.js" crossorigin="anonymous"></script>
    <script src="js/login.js" defer type="text/javascript"></script>
</head>

<body>
    <div class="container">
        <div class="leftside">
            <h1 class="maintext">Novus</h1>
            <h3 class="secondtext"><b>new</b> way of studying</h3>
            <img src="img/plane.svg" alt="plane" class="plane">
        </div>
        <div class="rightside">
            <p id="message"></p>
            <form method="post" action="/login">
                <h2 class="thirdtext">Log In</h2>
                <input type="text" name="username" id="username" class="username" required placeholder="Username"><br>
                <input type="password" name="password" id="password" class="password" required placeholder="Password"><br>
                <input type="submit" value="Log In" class="submit"><br>
            </form>
            <a href="/register" class="register">Create a new account</a>
        </div>
    </div>
</body>

</html>