<html>

<head>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/profile.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b20b6c512.js" crossorigin="anonymous"></script>
    <script src="js/dashboard.js" defer type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="sidebar">
        <h3 class="font-pacifico">N</h3>
        <ul class="nav-list">
            <li class="nav-item"><a href="/"><i class="fas fa-home"></i></a> </li>
            <li class="nav-item"><a href="/notes"><i class="fas fa-sticky-note"></i></a></li>
            <li class="nav-item"><a href="/todo"><i class="fas fa-clipboard-list"></i></a></li>
            <li class="nav-item"><a href="/calculator"><i class="fas fa-calculator"></i></a></li>
            <li class="nav-item"><a href="/clock"><i class="fas fa-clock"></i></a></li>
            <li class="nav-item"><a href="/game"><i class="fas fa-gamepad"></i></a></li>
            <li class="nav-item"><a href="/timetable"><i class="fas fa-calendar"></i></a></li>
            <li class="nav-item"><a href="/budget"><i class="fas fa-money-bill"></i></a></li>
            <li class="nav-item"><a href="/audio"><i class="fas fa-music"></i></a></li>
            <li class="nav-item"><a href="/cardgame"><i class="fas fa-brain"></i></a></li>
        </ul>

        <ul class="nav-list-bottom">
            <li class="nav-item"><a href="/profile"><i class="fas fa-user"></i></a></li>
            <li class="nav-item"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>

    </div>
    <div class="content">
        <div class="page-name ">
            <h1>Profile</h1>
        </div>
        <p style="color: red; display: none;" id="error"></p>
        <p style="color: green; display: none;" id="success"></p>
        <div class="inputs">

            <form method="POST" action="/users/change-pass">
                <p>Current password</p>
                <input type="password" required name="oldpassword" id="password" class="password" required
                    placeholder="Password"><br>
                <p>New password</p>
                <input type="password" required name="newpassword" id="password" class="password" required
                    placeholder="Password"><br>
                <p>Repeat password</p>
                <input type="password" required name="repeatpassword" id="password" class="password" required
                    placeholder="Password"><br>
                <div class="buttonas">
                    <input type="submit" value="Change password" class="submit"><br>
                </div>
            </form>
            <p>Log in as Admin:</p>

            <a href=""><i class="fas fa-user-cog admin-style"></i></a>

        </div>

    </div>

</body>
<script>
    const error_text = document.getElementById('error');
    const success_text = document.getElementById('success');
    document.querySelector("form").addEventListener("submit", async e => {
        e.preventDefault();
        error_text.style.display = "none";
        success_text.style.display = "none";
        const formData = new FormData(e.target);
        const object = {};
        formData.forEach((value, key) => object[key] = value);
        const res = await fetch("/users/change-pass", {
            method: "POST",
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(object),
        }).then(res => res.json()).catch(err => {
            error_text.innerHTML = err.message;
            error_text.style.display = "block";
        });
        if (res.error) {
            error_text.innerHTML = res.message;
            error_text.style.display = "block";
            return;
        }
        success.innerHTML = res.message;
        success.style.display = "block";
    });
</script>

</html>