<html>

<head>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,100&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1b20b6c512.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/modal.js" defer></script>
    <script src="js/timetable.js" defer type="text/javascript"></script>
    <link rel="stylesheet" href="styles/timetable.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="sidebar">
        <h3 class="font-pacifico">N</h3>
        <ul class="nav-list">
            <li class="nav-item"><a href="/"><i class="fas fa-home"></i></a> </li>
            <li class="nav-item"><a href="/notes"><i class="fas fa-sticky-note"></i></a></li>
            <li class="nav-item"><a href="/todo"><i class="fas fa-clipboard-list"></i></a></li>
            <li class="nav-item"><a href="/calculator"><i class="fas fa-calculator"></i></a></li>
            <li class="nav-item"><a href="/clock"><i class="fas fa-clock"></i></a></li>
            <li class="nav-item"><a href="/timetable"><i class="fas fa-calendar"></i></a></li>
            <li class="nav-item"><a href="/budget"><i class="fas fa-money-bill"></i></a></li>
            <li class="nav-item"><a href="/audio"><i class="fas fa-music"></i></a></li>
            <li class="nav-item"><a href="/cardgame"><i class="fas fa-brain"></i></a></li>
        </ul>

        <ul class="nav-list-bottom">
            <li class="nav-item"><a href="/profile"><i class="fas fa-user"></i></a></li>
            <li class="nav-item"><a href="/users/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>

    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-1">
                    <div class="page-name ">
                        <h1>Time Table</h1>
                    </div>
                    <div class="timetable">
                        <div class="week-names">
                            <div>monday</div>
                            <div>tuesday</div>
                            <div>wednesday</div>
                            <div>thursday</div>
                            <div>friday</div>
                            <div class="weekend">saturday</div>
                            <div class="weekend">sunday</div>
                        </div>
                        <div class="time-interval">
                            <div>8:00 - 10:00</div>
                            <div>10:00 - 12:00</div>
                            <div>12:00 - 14:00</div>
                            <div>14:00 - 16:00</div>
                            <div>16:00 - 18:00</div>
                            <div>18:00 - 20:00</div>
                        </div>
                        <div class="schedule">
                            <div id="monday-1"></div>
                            <div id="tuesday-1"></div>
                            <div id="wednesday-1"></div>
                            <div id="thursday-1"></div>
                            <div id="friday-1"></div>
                            <div class="weekend" id="saturday-1"></div>
                            <div class="weekend" id="sunday-1"></div>
                            <div id="monday-2"></div>
                            <div id="tuesday-2"></div>
                            <div id="wednesday-2"></div>
                            <div id="thursday-2"></div>
                            <div id="friday-2"></div>
                            <div class="weekend" id="saturday-2"></div>
                            <div class="weekend" id="sunday-2"></div>
                            <div id="monday-3"></div>
                            <div id="tuesday-3"></div>
                            <div id="wednesday-3"></div>
                            <div id="thursday-3"></div>
                            <div id="friday-3"></div>
                            <div class="weekend" id="saturday-3"></div>
                            <div class="weekend" id="sunday-3"></div>
                            <div id="monday-4"></div>
                            <div id="tuesday-4"></div>
                            <div id="wednesday-4"></div>
                            <div id="thursday-4"></div>
                            <div id="friday-4"></div>
                            <div class="weekend" id="saturday-4"></div>
                            <div class="weekend" id="sunday-4"></div>
                            <div id="monday-5"></div>
                            <div id="tuesday-5"></div>
                            <div id="wednesday-5"></div>
                            <div id="thursday-5"></div>
                            <div id="friday-5"></div>
                            <div class="weekend" id="saturday-5"></div>
                            <div class="weekend" id="sunday-5"></div>
                            <div id="monday-6"></div>
                            <div id="tuesday-6"></div>
                            <div id="wednesday-6"></div>
                            <div id="thursday-6"></div>
                            <div id="friday-6"></div>
                            <div class="weekend" id="saturday-6"></div>
                            <div class="weekend" id="sunday-6"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="add-modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content" style="width: 40%">
            <span class="close">&times;</span>
            <form method="POST" action="/timetable" id="add-modal-form">
                <div style="text-align:center;">
                    <h1>Add an event</h1>
                    <label for="title">Title</label>
                    <input type="text" required name="title" placeholder="Maths" id="add-title"><br />
                    <label for="color">Color</label>
                    <select name="color" id="color">
                        <option value="green">Green</option>
                        <option value="brown">Brown</option>
                        <option value="blue">Blue</option>
                        <option value="cyan">Cyan</option>
                        <option value="coffee">Coffee</option>
                        <option value="orange">Orange</option>
                        <option value="white">White</option>
                    </select>
                </div>
                <button type="submit" class="button" id="add">Add</button>
                <button type="button" class="button float-right button-red modal-cancel" id="cancel">Cancel</button>
            </form>
        </div>

    </div>


    <div id="selection-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 40%">
            <span class="close">&times;</span>

            <div style="text-align:center;">
                <h1>Edit or add event?</h1>
            </div>
            <button type="button" class="button modal-cancel" id="select-add">Add</button>
            <button type="button" class="button modal-cancel float-right" id="select-edit">Edit</button>
            <button type="button" class="button modal-cancel button-red float-right" id="select-delete">Delete</button>
        </div>
    </div>

    <div id="delete-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 40%">
            <form method="DELETE" id="delete-modal-form" action="/timetable">
                <span class="close">&times;</span>

                <div style="text-align:center;">
                    <h1>Are you sure?</h1>
                    <p>This action is irreversible</p>
                </div>

                <button type="button" class="button modal-cancel" id="cancel-delete">Cancel</button>
                <button type="submit" class="button modal-cancel button-red float-right" id="confirm-delete">Yes,
                    delete</button>
            </form>
        </div>
    </div>


    <div id="edit-modal" class="modal">
        <!-- Modal content -->
        <div class="modal-content" style="width: 40%">
            <span class="close">&times;</span>
            <form method="PATCH" action="/timetable" id="edit-modal-form">
                <div style="text-align:center;">
                    <h1>Edit event (<span id="edit-event-title"></span>)</h1>
                    <label for="title">Title</label>
                    <input type="text" required name="title" id="edit-title-input"><br />
                    <label for="color">Color</label>
                    <select name="color" id="color">
                        <option class="edit-option" value="green">Green</option>
                        <option class="edit-option" value="brown">Brown</option>
                        <option class="edit-option" value="blue">Blue</option>
                        <option class="edit-option" value="cyan">Cyan</option>
                        <option class="edit-option" value="coffee">Coffee</option>
                        <option class="edit-option" value="orange">Orange</option>
                        <option class="edit-option" value="white">White</option>
                    </select>
                </div>
                <button type="submit" class="button" id="edit">Edit</button>
                <button type="button" class="button float-right button-red modal-cancel"
                    id="cancel-edit">Cancel</button>
            </form>
        </div>
    </div>


</body>
<script>
    fetch("/me").then(res => res.json()).then(data => {
        if (!data.is_admin) return;
        document.querySelector('.nav-list').innerHTML += `<li class="nav-item" id="admin-link"><a href="/admin"><i class="fas fa-user-cog"></i></a></li>`;
    })
</script>

</html>